* {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif
    /* font-stretch:expanded */
}

header {
    text-align: center;
}

img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 600px;
}

.nav-menu {
    float: center;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-menu li {
    display: inline-block
}

.nav-menu li a {
    color: #404040;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .nav-menu li a:link {
    border: 1px solid red;
    background-color: pink;
    text-decoration: underline;
} */

.homebtn a:link {
    /* border: 1px solid grey; */
    text-decoration: underline;
    text-underline-offset: 5px;
    /*background-color: lightblue; */
}

.nav-menu li a:hover {
    /* border: 1px solid red;
    background-color: pink; */
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}

/* .nav-menu li a:active {
    color: pink
} */

.footer {
    margin-top: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #404040;
    color: white;
    text-align: center;
}
